<h2>Create a New Celebrity</h2>

<form method="post" action="/celebrities/create">
  <label>Name</label>
  <input name="name" />
  <label>Occupation</label>
  <input name="occupation" />
  <label>catchPhrase</label>
  <input name="catchPhrase"/>
  <button type="submit">Create Celebrity</button>
</form>